<article
  class="archive-article archive-type-<%= post.layout %>"
  style="display: block; width: 100%; margin-bottom: 15px"
>
  <div class="archive-article-inner">
    <header class="archive-article-header">
      <%- partial('post/date', {class_name: 'archive-article-date', date_format:
      'MMM D'}) %> <%- partial('post/title', {class_name:
      'archive-article-title'}) %>
    </header>
  </div>
</article>
